[submodule ".emacs.d/plugins/ace-jump-mode"]
	path = .emacs.d/plugins/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
	pushurl = git@github.com:winterTTr/ace-jump-mode.git
[submodule ".emacs.d/plugins/evil"]
	path = .emacs.d/plugins/evil
	url = git://gitorious.org/evil/evil.git
[submodule ".emacs.d/plugins/expand-region"]
	path = .emacs.d/plugins/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/plugins/wrap-region"]
	path = .emacs.d/plugins/wrap-region
	url = https://github.com/rejeep/wrap-region.git
[submodule ".emacs.d/plugins/auto-complete-suite/auto-complete-clang"]
	path = .emacs.d/plugins/auto-complete-suite/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule ".emacs.d/plugins/magit"]
	path = .emacs.d/plugins/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/plugins/smex"]
	path = .emacs.d/plugins/smex
	url = https://github.com/nonsequitur/smex.git
[submodule ".emacs.d/plugins/actionscript-mode"]
	path = .emacs.d/plugins/actionscript-mode
	url = https://github.com/austinhaas/actionscript-mode.git
[submodule ".emacs.d/plugins/org-mode"]
	path = .emacs.d/plugins/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".emacs.d/plugins/yasnippet"]
	path = .emacs.d/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/plugins/multiple-cursors"]
	path = .emacs.d/plugins/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/plugins/jedi-suite/deferred"]
	path = .emacs.d/plugins/jedi-suite/deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule ".emacs.d/plugins/jedi-suite/epc"]
	path = .emacs.d/plugins/jedi-suite/epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule ".emacs.d/plugins/jedi-suite/jedi"]
	path = .emacs.d/plugins/jedi-suite/jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule ".emacs.d/plugins/jedi-suite/ctable"]
	path = .emacs.d/plugins/jedi-suite/ctable
	url = https://github.com/kiwanami/emacs-ctable.git
[submodule ".emacs.d/plugins/auto-complete-suite/popup-el"]
	path = .emacs.d/plugins/auto-complete-suite/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/plugins/auto-complete-suite/auto-complete"]
	path = .emacs.d/plugins/auto-complete-suite/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/plugins/auto-complete-suite/fuzzy-el"]
	path = .emacs.d/plugins/auto-complete-suite/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el
