/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list/
/.emacs.d/server/
/.emacs.d/plugins/js2-mode-20090723/js2.elc
/.emacs.d/elpa/
/.emacs.d/url/
/.emacs.d/bookmarks
/.ido.last
/.slime-history.eld
/.eshell/
/BUGS
/COPYING
/INSTALL
/README
/README.W32
/_viminfo
/bin/COPYING
/bin/addpm.exe
/bin/cmdproxy.exe
/bin/ddeclient.exe
/bin/digest-doc.exe
/bin/ebrowse.exe
/bin/emacs.exe
/bin/emacsclient.exe
/bin/emacsclientw.exe
/bin/etags.exe
/bin/hexl.exe
/bin/libXpm.dll
/bin/movemail.exe
/bin/runemacs.exe
/bin/sorted-doc.exe
/dotemacs.el
/etc/
/info/
/leim/
/lisp/
/pyvim.log
/site-lisp/
/.semanticdb/
/.srecode/
/bin/jpeg62.dll
/bin/libgcrypt-11.dll
/bin/libgnutls-26.dll
/bin/libgpg-error-0.dll
/bin/libpng12.dll
/bin/libtasn1-3.dll
/bin/libtiff3.dll
/bin/libungif4.dll
/bin/xpm4.dll
/bin/zlib1.dll
/font-configuration-example.txt
/popup-menu.reg
/readme.txt
/.recentf
/.history