/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list/
/.emacs.d/server/
/.emacs.d/plugins/js2-mode-20090723/js2.elc
/.ido.last
/.slime-history.eld
/.eshell/
/BUGS
/COPYING
/INSTALL
/README
/README.W32
/_viminfo
/bin/COPYING
/bin/addpm.exe
/bin/cmdproxy.exe
/bin/ddeclient.exe
/bin/digest-doc.exe
/bin/ebrowse.exe
/bin/emacs.exe
/bin/emacsclient.exe
/bin/emacsclientw.exe
/bin/etags.exe
/bin/hexl.exe
/bin/libXpm.dll
/bin/movemail.exe
/bin/runemacs.exe
/bin/sorted-doc.exe
/dotemacs.el
/etc/
/info/
/leim/
/lisp/
/pyvim.log
/site-lisp/
/.semanticdb/
/.srecode/
